/* background image for the bod of the whole page*/
body{
  background-image: url("Project background.png");
}
/*google font(Playfair Display)*/
h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
}
p{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
}
/* Setting the background colour, text colour, padding, border and the google font(Playfair Display) for the text */
#mtitle{
  background-color:black;
  color:green;
  border:2px solid red;
  margin:2px;
  padding:90px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
  


}

#formsty{
  background-color:black;
  color:green;
  border:1px solid red;
  margin:1px;
  padding:90px;

}
#mcont{
  background-color:white;
  color:green;
  border:2px solid black;
  margin:2px;
  padding:90px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;

}

